extends layout

block content
    div.grid-container
        each product in products
            div.grid-item
                a.item-title(href="/products/" + product._id) #{product.name}
                div #{product.price} €
        else
            p Ce tag est vide
    hr
    p
        a.inline-10(href='/tags/' + tagId + '/delete') Supprimer le tag
        a.inline-10(href='/tags/' + tagId + '/update') Modifier le tag
